{{extend 'layout.html'}}
<head>
        <title>Nalowale</title>

</head>
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    // Like callbacks.
    // Stars.
    var get_recovered_post_list_url = "{{=URL('api', 'get_recovered_post_list')}}";
	var current_active_user = "{{=None if auth.user is None else auth.user.email}}";
	
    var is_logged_in = {{='false' if auth.user is None else 'true'}};
</script>
{{end}}

<div main="aqua">
  <h3>Nalowale is happy to help you recover any lost items, and to connect you with the owners of items you may have found.</h4>
	  <div class="intro">
	  	Examples of items that have been returned to their rightful owners through Nalowale:
	  </div>
	
    <div id="vue-div" class="display:none">
	  
	  <div v-if="post_list.length === 0">
		  <p>Sadly, No Items Have Been Recovered.</p>
	  </div>
      <div class="post_div" v-for="post in post_list">
  		  <div class = "post_type">${post.post_type} Item Recovered</div>
     	  <div class="post_title">${post.post_title}</div>
     	  <div class="post_content">Description: 	${post.post_description}</div>
	  	  <div class = "post_city">City: 	${post.post_city}</div>
	  	  <a v-bind:href="post.post_gps" target="_blank">Map Location</a>
 		 <div class="img_div">
		   <div v-if="post.img_url != ''">
  		 	  <img v-bind:src="post.img_url" height="200" width="200" v-on:click="full_image(post._idx)"/>
		   </div>
  		 </div>
	  </div>
	  
    

    </div>

</div>

<script src="{{=URL('static', 'js/recovered.js')}}"></script>
