{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>


<script>
    var get_my_post_list_url = "{{=URL('api', 'get_my_post_list')}}";
	var current_active_user = "{{=None if auth.user is None else auth.user.email}}";
	var edit_post_url = "{{=URL('api', 'edit_post', user_signature=True)}}";
	var delete_post_url = "{{=URL('api', 'delete_post', user_signature=True)}}";
	
	var get_recovered_post_list_url = "{{=URL('api', 'get_my_recovered_post_list', user_signature=True)}}";
	var recovered_post_url = "{{=URL('api', 'recovered_post', user_signature=True)}}";
	
    var is_logged_in = {{='false' if auth.user is None else 'true'}};
    // Like callbacks.
    // Stars.
	
</script>

{{end}}
<head>
        <title>Nalowale</title>

</head>
<div class="all_posts">

    <div id="vue-div" class="display:none">

      <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

      <!-- First, let's add a form to insert blog posts. -->

      <!-- Message in case there are no posts. -->
	  
      <!-- We display the posts. -->
      <div id="post_list">
		  Active Posts:
		  <div v-if="post_list.length === 0">
			  <p>You have no active posts.</p>
		  </div>
        <div class="post_div" v-for="post in post_list">
		 
  		  <div class = "post_type">${post.post_type} Item</div>
		  
		  
		  <div v-if="!post._editing">
          		<div class="post_title">${post.post_title}</div>
	  	  </div>
		  
		  <div v-if="post._editing">
	          <div class="form threequarters">
			  
	      			  <p>Title:</p>

	            <textarea class="form-control" v-on:keyup="title_countdown" v-model="post.post_title" placeholder="Enter the post title" maxlength="50"></textarea>
	  	      <div class='character_count'>${title_remainingCount} Characters Remaining</div>
		  
	          </div>
		  </div>
		  
		  
		  
		  
		  
		  <div v-if="!post._editing">
          		<div class="post_content">Description: 	${post.post_description}</div>
	  	  </div>
		  
		  <div v-if="post._editing">
          	<div class="form threequarters">
		  
      			  <p>Description:</p>

            	  <textarea class="form-control" v-on:keyup="description_countdown" v-model="post.post_description" placeholder="Enter an item description" maxlength="300"></textarea>
  	      		  <div class='character_count'>${description_remainingCount} Characters Remaining</div>
	  
          	</div>
		  </div>
			  
		  
		  <div v-if="!post._editing">
		  	<div class = "post_city">City: 	${post.post_city}</div>
	 	 </div>
		  
		  <div v-if="post._editing">
          	<div class="form threequarters">
		  
      			  <p>City:</p>

            	  <textarea class="form-control" v-on:keyup="city_countdown" v-model="post.post_city" placeholder="Enter the city" maxlength="30"></textarea>
  	      		  <div class='character_count'>${city_remainingCount} Characters Remaining</div>
	  
          	</div>
		  </div>
		  
		  
		  
		  <div v-if="!post._editing">
		  	<a v-bind:href="post.post_gps" target="_blank">Map Location</a>
		  </div>
		  
		  <div v-if="post._editing">
	        <div class="form threequarters">

	      		  <p>GPS Coordinates:</p>

	          	  <input v-model="post.post_gps" placeholder="Copy and paste a GPS coordinate hyperlink"/>
	        </div>
		  </div>
		  
		  
		  
		  
		  
		  <div class="img_div">
			   <div v-if="post.img_url != ''">
		  		<img v-bind:src="post.img_url" height="200" width="200" v-on:click="full_image(post._idx)"/>
			   </div>
	 	  </div>
		  
          <div class="button_div">
			<button id="recovered" v-on:click="post_recovered(post._idx)">Recovered</button>
			<span v-if="!post._editing"
				v-on:click="edit(post._idx)">
				<button id="edit_button">Edit</button>

			</span>
			
			<span v-if="post._editing"
				v-on:click="submit_edit(post._idx)">
				<button id="edit">Submit Edit</button>
			</span>
			<button id="delete" v-on:click="delete_post(post._idx)">Delete</button>
			
          </div>
        </div>
      </div>
	  
	  <div class="recovered_post_list">
		  Recovered Items:
	  		<div class=recovered_post_div v-for="recovered_post in recovered_post_list">
	    		  <div class = "post_type">${recovered_post.post_type} Item Recovered By Owner</div>
	              <div class="post_title">${recovered_post.post_title}</div>
	              <div class="post_content">Description: 	${recovered_post.post_description}</div>
	  		      <div class = "post_city">City: 	${recovered_post.post_city}</div>
	  		</div>
	  </div>

    </div>

</div>

<script src="{{=URL('static', 'js/my_posts.js')}}"></script>
