{{extend 'layout.html'}}
{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>


<script>
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
	var current_active_user = "{{=None if auth.user is None else auth.user.email}}";
	var search_post_list_url = "{{=URL('api', 'search', user_signature=True)}}";
    var is_logged_in = {{='false' if auth.user is None else 'true'}};

	
</script>

{{end}}


<head>
   <title>Nalowale</title>

</head>
<div class="all_posts">
	<div id=vue-div>
		<div class = "post_select">
			<div class = "container form_row">
				<input type="radio" v-model="post_type" value="Lost">
				<label for="one">Lost</label>

				<input type="radio"  v-model="post_type" value="Found">
				<label for="two">Found</label>
				
				
				<div class="city_input">
	              <input v-on:keyup="city_countdown" v-model="form_city" placeholder="Enter a city" maxlength="30">
	    	      <div class='character_count'>${city_remainingCount} Characters Remaining</div>
			 	 </div>
				
	  		  	<button id="search" v-on:click="search">Search Posts</button>
				

			</div>
		</div>
		<div class = "all_posts">
			<div id = "post_list">
	  		  <div v-if="post_list.length === 0">
	  			  <p>No Lost/Found Items to Display.</p>
	  		  </div>
			  
			  <div class="post_div" v-for="post in post_list">
		  		  <div class = "post_type">${post.post_type} Item</div>
            	  <div class="post_title">${post.post_title}</div>
            	  <div class="post_content">Description: 	${post.post_description}</div>
	  		  	  <div class = "post_city">City: 	${post.post_city}</div>
	  		  	  <a v-bind:href="post.post_gps" target="_blank">Map Location</a>
		 		 <div class="img_div">
				   <div v-if="post.img_url != ''">
		  		 	  <img v-bind:src="post.img_url" height="200" width="200" v-on:click="full_image(post._idx)"/>
				   </div>
	 	  		 </div>
				 <a v-bind:href="post.contact" target="_top">Contact</a>
				 				  
				  
				  
				  
				  
			  </div>
			</div>
		</div>

	
	</div>
</div>



<script src="{{=URL('static', 'js/view_posts.js')}}"></script>
