/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
div.all_posts {
  padding: 16px;
  background-color:#D0FFFC;
}
div.title_bar{
	height:60px;
	background-color:#0182E1;
	color:white;
	font-family:sans-serif;
	position:relative;

}
span.title_text{
	position:absolute;
	font-weight:bold;
	display:inline;
	bottom:0;
	left:5px;
    font-size: 200%;
	
	
}
#description{

	font-size: 100%;
	bottom:3;
	font-weight:normal;
	left:200px;
}
	
	
div.add_post {
	padding:20px;
	border-color:#0699d8;
	border-style:solid;
	border-width:2px;
	border-radius:25px;
    background-color: #10e8b7;
	
}
div.post_div{
	margin:10px;
	padding:5px;
	background-color:#10e8b7;
	border-width:2px;
	border-color:#0699d8;
	border-style:solid;
}
div.recovered_post_div{
	margin:10px;
	padding:5px;
	background-color:#B0ECE8;
	border-width:2px;
	border-color:#0699d8;
	border-style:solid;
}
div.intro{
	margin:15px;
	color:#003358;
	font-size:120%;
}
div.button_div{
	margin-top:5px;
}
div.img_div{
	text-align:left;
	margin-top:10px;
}
div.city_input{
	width:300px;
	margin-top:5px;
	margin-bottom:10px;
}
div.recovered_post_list{
	margin-top:100px;
}
a {
	color:#033BEA;
}
h3 {
	left:5;
	color:014679;
}
a:hover{
	color:#032BA7;
	text-decoration:underline;
}
div.title_div{
	padding-top:1%;
}
div.post_type{
	font-weight:bold;
}
div.add_button{
	padding-left:68%;
}
/* line 8, ../sass/_main.scss */
div.main_content div.form_row {
  margin-top: 8px;
  margin-bottom: 8px;
}
div.quality{
	text-decoration:underline;
	font-size:110%;
}
/* line 13, ../sass/_main.scss */
div.main_content{
  margin: 4px;
  border: 1px black solid;
  background-color: #eeeeee;
  padding: 4px;
}
div.entry_field {
	padding: 20px;
	color:#0635aa;
}
/* line 18, ../sass/_main.scss */
div.post_div .post_title {
  padding-top:1%;
  font-size: 140%;
}
/* line 22, ../sass/_main.scss */
div.main_content i.changed {
  color: #777777;
}
/* line 25, ../sass/_main.scss */
div.main_content span.likers_list {
  color: #7777cc;
}

div.my_prompts{
	font-size:1.5em;
	font-family:sans-serif;
}

div.character_count{
	float:right;
	text-align:right;
	font-size:small;
	font-family:sans-serif;
	
}
